
body{
    background-color: purple;
    background-image: url("nebulosa.jpg");
    background-size: cover;
}
header{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: large;
}

.global{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* Editando portada */
section{
    margin: auto;
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 800px;
    height: 350px;
    border-radius: 5px;
    position: relative;
    z-index: 2;
}
.frontpage{
    box-shadow:  0 10px 10px 0 rgba(90,116,148,0.3);

}

/* Editando formulario */
.numbereditor{
    background: #fff;
    width: 50%;
    padding: 100px 30px 30px 30px;
    top: -70px;
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    border: 2px solid #ced6ce;
    color: #7d8994;    
    border-radius: 5px;
    position: relative;
    z-index: 1;

}
.numbereditor .titleeditor{
    display: block;
    margin-bottom: 5px;

}
.numbereditor .btnSend{
    margin: 15px;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    position: relative;
    box-shadow: 2px 2px 5px 0px rgba(0,85,212,0.4);
    border: none;
    font-size: 10px;
    
    
}
.numbereditor .inputeditor{
  margin: 15px;  
  text-transform: uppercase;  
  box-shadow: #43474b;
}
#isValid {
    margin: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    width: 40%;
    padding: 10px;
    background:linear-gradient(to bottom, blue, purple);
    color: #fff;
    text-align: left;
    font-size: small;
    
}

